*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color:wheat;
     height: 80px;
     display:flex;
     justify-content: space-between;
    
     
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap :20px

    

}

.ulnav li {
    list-style: none;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    word-spacing: 10px;

       
    
    
}

.img{
    width:45px;
    height: auto;
    margin-left: 30px;
    margin-top: 8px;
}

.logoname{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.navmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.platform i{
    font-size: 25px;
}

.platform{
    display: flex;
    gap: 25px;
    margin-right: 14px;
}
